#top {
    background-color: black;

}

img {
    background-color: black;
}

li {
    color: white;
}

#content {
    background-color: gray;
}

.prods {
    background-color: red;
    margin: 20px;
}

#footer {
    background-color: black;
    color: #fff;
}

#span {
    background-color: pink;
}