.conteudo {
    border: 1px solid red;
    width: 150px;
    padding: 20px 15px 10px 5px ;
    margin: 20px 15px 10px 5x;
}

.banner {
    background-color: gray;
    border: 1px solid red;
    padding: 5px;
}