.conteudo {
    background: blue;
    border: 1px solid red;
    width: 200px;
    height: 200px;
    float: right;
    margin: 10px;
    
}

#principal {
    border: 5px solid red;
    background: green;
}

.clear {
    clear: both;
}
